:root {
    --color-secondary: #feb900;
}

*{
    font-family: "Roboto", sans-serif;
}


/* Header */

.titik{
    color: var(--color-secondary);
}

section{
    padding: 100px 0;
}

#home{
    padding: 0;
}

.header-padding{
    padding: 25px 150px; 
}

header{
    position: absolute;
    width: 100%;
    z-index: 2;
    background: transparent;
}





.nav-link{
    font-size: 15px;
    color: rgb(114, 114, 114);
    font-weight: bold;
}

/* .active{
    color: rgb(255, 255, 255);
} */

.nav-item::after{
    content: "";
    background-color: #feb900;
    width: 0%;
    display: block;
    height: 2px;
    transition: .5s;
}

.nav-item::hover{
    color: white;
}

.nav-item:hover::after{
    width: 100%;
}

.img-slide{
    filter: brightness(0.3);
}

.judul{
    font-size: 56px;
    font-weight: 700;

}

/* .text-judul{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
} */


.judul::after{
    content: "";
    background-color: #feb900;
    width: 20%;
    margin: auto;
    display: block;
    height: 4px;
}


.btn-start{
    color: white;
    text-decoration: none;
    border: 2px solid var(--color-secondary);
    padding: 12px 40px;
    border-radius: 50px;
}

.btn-start:hover{
    background-color: orange;
    color: white;
}

/* Section Form */
/* Garis bawah section form */
.text-form::after{
    content: "";
    
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--color-secondary);
    margin: 20px 0;

}

.card-form{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.custom-textarea{
    resize: none;
}

/* Section Construction */
.text-construction::before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(--color-secondary);
    /* margin-bottom: 10px;
    margin-right: 10px; */
    position: relative;
    bottom: 10px;
    right: 10px;
}

.text-construction::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(--color-secondary);
    /* margin-bottom: 10px;
    margin-right: 10px; */
    position: relative;
    bottom: 10px;
    left: 10px;

}



.card-box{
    display: flex;
    border: 1px solid #dcdcdc;
    width: 600px;
    
}

.card-box img{
    width: 270px;
    height: auto;
    object-fit: cover;


}

.text-card{
    padding: 50px;
}

/* Section Service */
.card-service {
    width: 400px;
    height: 400px;
    text-decoration: none;
    color: #364d59;
}

.icon-card::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #364d5932;
    border-radius: 100%;
    position: absolute;
    margin-left: 15px;
    margin-top: -5px;
    transition: .3s;
}

.title-service {
    width: fit-content;
}

.title-construction::before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(--color-secondary);
    /* margin-bottom: 10px;
    margin-right: 10px; */
    position: relative;
    bottom: 10px;
    right: 10px;
}

.title-construction::before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(--color-secondary);
    /* margin-bottom: 10px;
    margin-right: 10px; */
    position: relative;
    bottom: 10px;
    right: 10px;
}

.title-service::after {
    content: "";
    background-color: #364d5932;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin-top: 20px;
    transition: .3s;
}

.icon-card i {
    font-size: 45px;
    font-weight: 600;
    color: #364d59;
    position: relative;
    z-index: 1;

}

.text-learn {
    color: rgb(255, 183, 0);
    font-size: 14px;
}

.card-service:hover .icon-card::before {
    background-color: rgb(255, 183, 0) !important;
}

.card-service:hover .title-service::after {
    background-color: rgb(255, 183, 0) !important;
}

.card-service:hover {
    color: #364d59;
}

/* end service */

/* Section Service Tab */

.btn {
    border: none;
    border-radius: 0 !important;
    }
    
    .btn-link {
    color: var(--color-text) !important;
    font-weight: 600 !important;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 18px !important;
    transition: 0.3s;
    }
    
    .btn-link:hover {
    color: #feb900 !important;
    }
    
    .nav-item .btn-link.active {
    border-bottom: 3px solid var(--color-secondary);
    }
    
    .title-tab::after {
    content: "";
    position: absolute;
    display: block;
    width: 5%;
    height: 4px;
    background-color: var(---color-secondary);
    margin: auto;
    margin-top: 20px;
    }

/* Section Project */

.project-list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    font-size: 18px;
}

.list:hover{
    color: #feb900;
    transition: all 0.3s;
}

.list{
    transition: .3s;
}

.list-active{
    color: var(--color-secondary-);
}

/* .tab-list{
    flex-direction: row;
    display: flex;
    gap: 24px;
} */

/* end tab service */


/* Section Footer */

.footer .container .link a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    padding: 10px;
    transition: 0.3s;
}

.a{
    color: var(---color-secondary);
}

footer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://bootstrapmade.com/demo/templates/UpConstruction/assets/img/footer-bg.jpg");
}


.footerr::after{
    content: "";
    background-color:#364d59;
    width: 100%;
    height: 1px;
    margin: auto;
    display: block;
    margin-top: 25px;
}

/* end footer */


/* section blog spot */

.card-body::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: gainsboro;
    display: block;
    margin-top: 25px;
    }
    
    .card-blog {
    overflow: hidden;
    }
    
    .card-blog .blog {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    }
    
    .card-blog:hover .blog {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    }
    
    .card-blog:hover .card-title{
    color: #feb900 !important;
    }
    
    .card-blog:hover .card-link{
    color: #feb900 !important;
    }
    
    .card-link{
    color: black;
    text-decoration: none;
    }
    
    .card-text i{
    color: #feb900;
    }

